
#logo {
    display: flex;
    background-color: red;
    height: 80px;
    
    

}
#linktopo {
    color: white;
    font-size: 220%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-decoration-line: overline underline;
    text-decoration-color: white;
    letter-spacing: 2px;   
}

#cadastro {
    display: flex;
    background-color: rgb(4, 4, 172);
    height: 500px;
}

